body
{
	background-color: #224470;
	color: #959AA1;
	text-align: center;
	padding-top: 0px;
	padding-left: 0px;
	font-family: "Courier New";
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}
content
{
	display: block;
	position: relative;
	right: 5%;
	left: 0%;
	font-family: "Courier New";
	color: #959AA1;
	background-color: #21487A;
	margin-bottom: 10px;
}
.joinButton
{
	background-color: #458212;
	color: white;
	font-family: "Courier New";
	border: 3px #2B4D10 solid;
	border-radius: 5px;
}
footer
{
	display: block;
	position: fixed;
	bottom: 0%;
	font-family: "Courier New";
	color: #959AA1;
	background-color: #21487A;
	text-align: center;
	width: 100%;
}
